@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-primary: #000000;
    --text-primary: #ffffff;
    --text-purple: #B84CFF;
    --text-blue: #73C0FE;
    font-family: 'Roboto';
}

.quote-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5em;
    color: var(--text-primary);
    overflow: hidden;
}

.quote-container p {
    margin: auto auto 0 auto;
    padding: 0;
    width: 70%;
    font-size: 3em;
    font-weight: bold;
    position: relative;
}

.author {
    height: min-content;
    margin: 0 auto auto auto !important;
    font-size: 2em !important;
}

.text-purple {
    color: var(--text-purple);
}

.text-blue {
    color: var(--text-blue);
}

.text-gradient {
    background: -webkit-linear-gradient(0deg, var(--text-purple), var(--text-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#quote-top {
    z-index: 2;
    float: left;
    width: 5vw;
    max-width: 5em;
    height: auto;
    position: absolute;
    top: 10%;
    left: 7%;
}

#quote-bot {
    z-index: 2;
    width: 6vw;
    max-width: 5em;
    height: auto;
    float: right;
    position: absolute;
    bottom: 30%;
    right: 10%;
    rotate: 45deg;
}

.hide {
    display: none;
}


@media only screen and (max-width: 768px) {

    #quote-top,
    #quote-bot {
        display: none;
    }

    .quote-container p {
        font-size: 5vw;
    }

    .author {
        font-size: 3vw !important;
    }
}

@media only screen and (orientation: landscape) {

    .quote-container p {
        font-size: 6vh;
    }

    .author {
        font-size: 4vh !important;
    }
}
